html {
  height:100%;
}

body {
  font-family:'Avenir';
  text-align: center;
}

h1 {
  margin:0;
  margin-top:25px;
  font-weight:400;
  letter-spacing: 2px;
}

p {

}

#title-border {
  border-bottom: 1px solid grey;
  width:50px;
  margin:0px auto 25px;
}

#buttons-container {
  margin: 0 auto;
  position: relative;
  max-width: 620px;
}

#buttons-container > button {
  border: 3px solid #fff;
  cursor: pointer;
  height: 300px;
  margin: -2px;
  outline: none;
  padding: 0;
  width: 300px;
}

#green {
  /*border-top-left-radius: 100%;*/
  background: rgba(124, 187, 0, 0.5);
}

#red {
  /*border-bottom-right-radius: 100%;*/
  background: rgba(246, 83, 20, 0.5);
}

#yellow {
  /*border-bottom-left-radius: 100%;*/
  background: rgba(255, 187, 0, 0.5);
}

#blue {
  /*border-bottom-right-radius: 100%;*/
  background: rgba(0, 161, 241, 0.5);
}

#red:hover,
#red.lightOn {
  background: rgba(246, 83, 20, 1);
}

#green:hover,
#green.lightOn {
  background: rgba(124, 187, 0, 1);
}

#yellow:hover,
#yellow.lightOn {
  background: rgba(255, 187, 0, 1);
}

#blue:hover,
#blue.lightOn {
  background: rgba(0, 161, 241, 1);
}

#counter {
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  color: #000;
  font-size: 100px;
  height: 200px;
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom:0;
  margin:auto;
  line-height: 200px;
  width: 200px;
  font-weight: 400;
}

.blocked {
  pointer-events: none;
}

.sequence-entered {
  background-image:url('https://media.giphy.com/media/DKnMqdm9i980E/giphy.gif');
}

.game-over {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  text-align: center;
  color:#fff;
  display:none;
}

@media screen and (max-width:620px) {
  #buttons-container {
    max-width:400px;
  }

  #buttons-container > button {
    height:150px;
    width:150px;
    margin: -2px;
  }

  #counter {
    font-size: 40px;
    width:80px;
    height:80px;
    line-height:80px;
  }
}
